*{
    margin: 0;
    padding: 0;
}
.body{
    background-color:whitesmoke;
}
.header{
    background-color:white;
    padding: 12px 0px;
    width:100%;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    justify-content:flex-end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
.nav{
    flex: 2;
    
  }
  .nav-link{
    list-style: none;
    color:gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: auto;
  }
  .nav-link li{
    display: inline-block;
    padding: 0px 20px;
  }
  .nav-link li a{
    transition: all 0.3s ease 0;
  }
  .header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .header .nav-loggler{
    width:34px;
    height: 44px;
    margin-right: 15px;
    cursor: pointer;
  
  }
  .contact-dark{
    color: black;
    text-align:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  }
  .contact-dark h5{
      font-style: italic;
  }

.container{
   text-align:left;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form-group{
    box-sizing: border-box;
    color: black;
}
.checkbox{
    color: black;
}
.button{
    
    background-color:transparent;
    color: #eaa023;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 80px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    font-weight: 100%;
    font-family: initial;
    transition: all 0.3s ease;
    line-height:1.5;
    user-select: none;
    border: none;
    border: 2px solid#eaa023;
    
  }
  .button:hover{
    color: black;
    background-color: #eaa023;
  }
