

.header{
    background-color:black;
    opacity:0.7;
    padding: 12px 0px;
    width:100%;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    justify-content:flex-end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    box-shadow: var(--shadow);
    z-index: -1;
    transition:transform 0.5s ease;
    transform: translateY(-100%);
  }
  .header.sticky::before{
    transform: translateY(100%);
  }
  
  
  /*--nav nav-link---*/
  .nav{
    flex: 2;
  }
  .nav-link{
    list-style: none;
    color: white;
  }
  .nav-link li{
    display: inline-block;
    padding: 0px 20px;
  }
  .nav-link li a{
    transition: all 0.3s ease 0;
  }
  /*--hearder logo---*/
  .header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .header .nav-loggler{
    width:34px;
    height: 44px;
    margin-right: 15px;
    cursor: pointer;
  
  }
  .detail{
      text-align: center;
  }
  