:root{
    --main-color:#eaa023;
    --drak:#0c1023;
    --draklight:#191f3a;
    --white: #ffffff;
    --whitelight:#c8c8c8;
    --shadow:0 0 15px rgba(0,0,0,0,25);
    scroll-behavior: smooth;
  }
  *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
  
  }
  .header{
    background-color: var(--draklight);
    opacity:0.7;
    padding: 12px 0px;
    width:100%;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    justify-content:flex-end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
  }
  .header::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    box-shadow: var(--shadow);
    z-index: -1;
    transition:transform 0.5s ease;
    transform: translateY(-100%);
  }
  .header.sticky::before{
    transform: translateY(100%);
  }
  
  
  /*--nav nav-link---*/
  .nav{
    flex: 2;
  }
  .nav-link{
    list-style: none;
    color: white;
  }
  .nav-link li{
    display: inline-block;
    padding: 0px 20px;
  }
  .nav-link li a{
    transition: all 0.3s ease 0;
  }
  /*--hearder logo---*/
  .header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .header .nav-loggler{
    width:34px;
    height: 44px;
    margin-right: 15px;
    cursor: pointer;
  
  }
  /* --home section--- */
  .home-section{
    
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    text-align: center;
    color: #eaa023;
    padding: 10%;
    margin: 10%;
  }
  /*--menu start--*/
  .menu-section{
  background-color: white;
  }
  .sce-padding{
    padding: 100px;
  }
  /*--section title--*/
  .section-title{
    color:#eaa023 ;
    text-align:  center;
    font-family: cursive;
    font-style: italic;
   
  }
  .detail{
      font-family: cursive;
      text-align:center;
      color:black;
      font-size: 18px;
  }
  
  /*--img--*/
  .cover,img{
    height: 40vh;
    flex-shrink: 0;
    position: relative;
    margin-bottom: .625rem;
    min-height: 136px;
  }


 
  
  
  
  
  
  
  
  
    
  
  