 *{
    margin: 0;
    padding: 0;
}

.header{
    background-color:whitesmoke;
    padding: 12px 0px;
    width:100%;
    height: 70px;
    font-family: 'Open Sans', sans-serif;
    justify-content:flex-end;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
}
.nav{
    flex: 2;
    
  }
  .nav-link{
    list-style: none;
    color:gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: auto;
  }
  .nav-link li{
    display: inline-block;
    padding: 0px 20px;
  }
  .nav-link li a{
    transition: all 0.3s ease 0;
  }
  .header .logo{
    min-height: 34px;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }
  .header .nav-loggler{
    width:34px;
    height: 44px;
    margin-right: 15px;
    cursor: pointer;
  
  }
  /* strat menu */
  .about-section{
    background-color: white;
    }
    .sce-padding{
      padding: 100px;
    }
    /*--section title--*/
    .section-title{
    
      text-align:  center;
    }
    .section-title p{
       font-style: italic;
    }
    /*--img--*/
    .cover,img{
      height: 45vh;
      float: right; 
    }
    
    /*--text--*/
    .about-text strong
    {
        color:#eaa023;
        padding: 10px;
        margin: auto;
        text-align: left;
    }
    /*--About us end--*/
 
    
   
   
/* 
.container h2{
    text-align: left;
    font-family: cursive;
    color:#eaa023;
    list-style: none;
    
} */


/* section.menu ul li {
    text-align:center;
    
    text-transform: uppercase;
    font-family: "Cabin", sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #0c0901;
    margin-bottom: 20px;}

.column_container img{
    align-items: center;
    width: auto;
    height:auto;
    padding: 30px;
    margin: auto;
    align-items: flex-end;
}
.menu-logo img{
    align-items: center;
}

.price{
    color:#eaa023;
}
.button{
    margin-right: 20px;
    padding: 9px 25px;
    background-color: lightseagreen;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    
  
  }
  button:hover{
    transition: all 0.3s ease 0.8;
  }
/* start Contact*/
/*.contact-dark{
    color: #eaa023;
    text-align:center;
    font-family: cursive;
    font-style: italic;
  
  }
  .div,h5{
    text-align:center;
    font-family: cursive;
    font-style: italic;
  }
  .contact-dark h5{
      font-style: italic;
  }
  
  .container{
   text-align:left;
   font-family: 'Open Sans', sans-serif;
   font-style: italic;
  }
  .form-group{
    box-sizing: border-box;
    color: black;
  }
  .checkbox{
    color: black;
  }
  .button{
    
    background-color:transparent;
    color: #eaa023;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 80px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    font-weight: 100%;
    font-family: initial;
    transition: all 0.3s ease;
    line-height:1.5;
    user-select: none;
    border: none;
    border: 2px solid#eaa023;
    
  }
  .button:hover{
    color: black;
    background-color: #eaa023;
  }
  .text,h3{
    color: #eaa023;
    text-align: center;
    font-family: cursive;
    font-style: italic;
  }  */
