:root{
  --main-color:#eaa023;
  --drak:#0c1023;
  --draklight:#191f3a;
  --white: #ffffff;
  --whitelight:#c8c8c8;
  --shadow:0 0 15px rgba(0,0,0,0,25);
  scroll-behavior: smooth;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;

}
::before
::after{
  box-sizing: border-box;
}
.container{
  max-width: auto;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap:wrap;
}
.ul li a{
  display: block;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  margin: auto;
}

.align-items-center{
  align-items: center;
}
.header{
  background-color: var(--draklight);
  opacity:0.7;
  padding: 12px 0px;
  width:100%;
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  justify-content:flex-end;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
}
.header::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  box-shadow: var(--shadow);
  z-index: -1;
  transition:transform 0.5s ease;
  transform: translateY(-100%);
}
.header.sticky::before{
  transform: translateY(100%);
}


/*--nav nav-link---*/
.nav{
  flex: 2;
}
.nav-link{
  list-style: none;
  color: white;
}
.nav-link li{
  display: inline-block;
  padding: 0px 20px;
}
.nav-link li a{
  transition: all 0.3s ease 0;
}
/*--hearder logo---*/
.header .logo{
  min-height: 34px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.header .nav-loggler{
  width:34px;
  height: 44px;
  margin-right: 15px;
  cursor: pointer;

}
/*--home section---*/
.home-section{
  
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  text-align: center;
  color: #eaa023;
  padding: 10%;
  margin: 10%;
  animation: ZoomInOut 20s ease infinite;
 

}

/*--button our menu---*/
.btn{
  background-color:transparent;
  color: var(--main-color);
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500px;
  font-family: initial;
  transition: all 0.3s ease;
  line-height:1.5;
  user-select: none;
  border: none;
  
}
.btn-default{
  border: 2px solid var(--main-color);
}
.btn-default:hover{
  color: white;
  background-color: var(--main-color);
}
/* text animatiom */
@keyframes ZoomInOut{
  0%,100%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.5);
  }
}
/*--About us start--*/
.about-section{
background-color: white;
}
.sce-padding{
  padding: 100px;
}
/*--section title--*/
.section-title{

  text-align:  center;
}
.section-title p{
   font-style: italic;
}
/*--img--*/
.cover,img{
  height: 45vh;
  float: right; 
}

/*--text--*/
.about-text strong
{
    color:#eaa023;
    padding: 10px;
    margin: auto;
    text-align: left;
}
/*--About us end--*/

/*call to reservation*/
.col-md-12{
  background-color:white;
  font-family:cursive;
  color:#eaa023 ;
  padding: 100px;
  text-align: center;

}
.container h2{
  text-align: center;
  font-family:cursive;
  color:#eaa023 ;
}
.section.menu {
  background-color:white;
  padding: 100px;
  min-height: 950px;
}
.center.menu-logo{
  align-items:center;
  background-color:white;
  padding: 150px;
}
/*--button coplete menu--*/
.button{
    
    background-color:transparent;
    color: var(--main-color);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 30px;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500px;
    font-family: initial;
    transition: all 0.3s ease;
    line-height:1.5;
    user-select: none;
    border: none;
    border: 2px solid var(--main-color);
    
  }
  .button:hover{
    color: white;
    background-color: var(--main-color);
  }
/* start 
Contact*/
.contact-dark{
  color: #eaa023;
  text-align:center;
  font-family: cursive;
  font-style: italic;
  

}
.div,h6{
  text-align:center ;
  font-family: cursive;
  font-style: italic;
}
.contact-dark h5{
    font-style: italic;
}

.container{
 text-align:left;
 font-family: 'Open Sans', sans-serif;
 font-style: italic;
}
.form-group{
  box-sizing: border-box;
  color: black;
}
.checkbox{
  color: black;
}
.button{
  
  background-color:transparent;
  color: #eaa023;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 80px;
  text-transform: capitalize;
  font-size: 16px;
  cursor: pointer;
  font-weight: 100%;
  font-family: initial;
  transition: all 0.3s ease;
  line-height:1.5;
  user-select: none;
  border: none;
  border: 2px solid#eaa023;
  
}
.button:hover{
  color: black;
  background-color: #eaa023;
}
.text,h3{
  color: #eaa023;
  text-align: center;
  font-family: cursive;
  font-style: italic;
}











  

